@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

#part-1 {
  height: 100vh;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.part-1-heading {
  font-family: 'Caveat', cursive;
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 50px;

}

.part-1-text {
  font-family: "Pulpen Snowman";
  font-size: 2rem;
  word-spacing: 5px;
  padding: 30px;
}