.floating-button {
  position: sticky;
  top: 10px;
  right: 20px;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  margin: 60px 60px;
  border-radius: 50px;
  text-decoration: none;
  opacity: 0.5;
}

.floating-button:hover {
  opacity: 1;
}
