#the-first-coffee-shop a {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  color: black;

  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;

}

.coffee-shop-heading {
  margin-left: 30px;

  font-size: 6rem;
  font-family: var(--heading-font);
  font-weight: 500;
}

.coffee-shop-img {
  width: 100%;
  margin-bottom: 50px;
}

.coffee-shop-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.coffee-shop-body p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;

  word-spacing: 5px;
  
  display: flex;
  align-items: center;
  
  margin: 10px 40px;
}

.coffee-shop-body-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.coffee-shop-body-img img:first-child {
  height: 300px;
  width: auto;

  position: absolute;
  transform: rotate(20deg);
  z-index: 2;
  margin-right: 150px;

}

.coffee-shop-body-img img:last-child {
  margin-left: 100px; 
  transform: rotate(-20deg);
}

